
 @import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
      *{
          margin: 0%;
          padding: 0%;
      }
      
.App {
    text-align: center;
  }
  body  {
      background-image: url("https://wallpaperaccess.com/full/173798.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      
      
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #5378c2;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .App {
    font-family: sans-serif;
    text-align: center;
    background-image: linear-gradient(to right,#ff6e7f, #bfe9ff );
  }
  
  header {
    max-width: 10000px;
    font-family: 'Irish Grover', cursive;
    height: 100px;
    background-image: linear-gradient(to right, #ff6e7f, #bfe9ff );
  }
  header h1 {
    color: rgb(34, 23, 8);
  }
  
  button {
    align-items: center;
    padding: 8px 20px;
    border: 2px solid rgb(12, 9, 11);
    background-color: rgb(241, 154, 154);
    color: rgb(30, 32, 14);
    margin: 27px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 0px;
    font-family: 'Irish Grover', cursive;
  }
  
  .App:hover button {
    width: 150px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 5px; 
    background-image: linear-gradient(to right, #ff9966, #ff5e62 );
  }
  .App-data {
    width: 100px;
    align-items: center;
    text-align: center;
    display: flex;
    margin: 30px;
  }
  .App-data img {
    align-items: center;
    width: 140px;
    border-radius: 10px;
    border: 4px solid rgb(16, 17, 19);
    margin: 18px;
    padding: 7px;
    background-image: linear-gradient(to right,#ff9966, #ff5e62 );
  }
  .detail {
    border: 6px solid #0b0b0c ;
    margin: 7px;
    padding: 10px;
    background-image: linear-gradient(to right, #ff9966, #ff5e62 );
    
  }
  
  
 